@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&family=Source+Serif+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

:root {
  --clr--primary--black: #222222;
  --clr--primary-white: #ffffff;
  --clr--seconday--black: #585858;
  --clr--secondary-white: #dddddd;
  --clr--Theme-color: #ed1370;
}

h1,
h3,
h4,
h5 {
  font-family: "Libre Franklin", sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 24px;
}
ul {
  list-style-type: none;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}
i {
  color: var(--clr--Theme-color);
}
h4 {
  font-size: 18px;
  color: var(--clr--primary--black);
  margin-bottom: 10px;
}
p {
  font-size: 16px;
  font-family: "Source Serif Pro", serif;
  color: var(--clr--seconday--black);
}
li {
  display: flex;
  color: var(--clr--seconday--black);
  align-items: center;
  gap: 20px;
  font-size: 16px;
  margin: 24px 0;
}

a {
  font-size: 16px;
  font-weight: 600;
}

.container {
  width: 1366px;
  padding: 10rem 0px;
}
.dropdownbtn {
  display: none;
}
.navbar .container {
  padding: 2% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo img {
  height: 30px;
}
.navbar .navlinks ul {
  display: flex;
}

.navbar .navlinks ul li {
  flex: 1;
  padding: 2% 10px;
}

.navbar .navlinks ul li a {
  color: var(--clr--seconday--black);
}

.maincontent > div:nth-child(odd) {
  background-color: var(--clr--primary--black);
  color: var(--clr--primary-white);
  width: 100vw;
}
.maincontent > div:nth-child(odd) li,
.maincontent > div:nth-child(odd) p,
.maincontent > div:nth-child(odd) h4 {
  color: var(--clr--secondary-white);
}

.maincontent > div:nth-child(even) h1,
.maincontent > div:nth-child(even) h3 {
  color: var(--clr--Theme-color);
}

.maincontent > div {
  height: 100%;
}

.maincontent .about .container {
  display: flex;
  gap: 20px;
}

.maincontent .about .right-container img {
  height: 250px;
  width: auto;
}

.maincontent .Requirement .container {
  display: flex;
  gap: 20px;
}
.maincontent .Requirement .left-container {
  flex: 1 1 100%;
}
.maincontent .Requirement .right-container {
  flex: 1 1 100%;
  width: 100%;
}

.maincontent .benifits .container > p {
  margin-bottom: 42px;
}
.maincontent .benifits .benifit {
  margin: 24px 0;
}

.why ul li h5 {
  font-size: 16px;
}

.why .why-list {
  gap: 20px;
}
