@media All and (max-width: 1366px) {
  .container {
    width: 100%;
    padding: 40px 0px;
    margin: 0px 30px;
    flex-direction: column;
  }

  .maincontent .about .right-container img {
    display: none;
  }
  .reponsibiity,
  .Skills {
    display: flex;
    flex-direction: column;
  }
}

@media All and (max-width: 1024px) {
  .navlinks {
    display: none;
  }
}
