@media All and (max-width: 1024px) {
  .container {
    width: 100%;
    display: flex;
    padding: 40px 0px;
    margin: 0px 30px;
    flex-direction: column;
  }
  .navlinks {
    display: none;
  }

  .maincontent > div {
    height: 100% !important;
  }
  .maincontent .about .right-container img {
    display: none;
  }
}
