.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex1 {
  display: flex;
}
.flex1 > div {
  gap: 30px;
  flex: 1;
}

.mb-30 {
  margin-bottom: 30px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
